<h1>Edit Details:</h1>
<div class="container">
<form action="/update" method="POST">
  <div class="form-group">
  <input type="hidden" name="id" value="<%= item.id %>" class="form-control">
  <label>Key:</label>
  <input type="text" name="name" value="<%= item.name %>" class="form-control" required>
</div>
<div class="form-group">
  <label>Value:</label>
  <textarea name="description" class="form-control" required><%= item.description %></textarea>
</div>
  <button type="submit">Update Item</button>
</form>
</div>