body {
    font-family: cambria;
    margin: 20px;
}

h1 
{
    text-align: center;
}

form {
    max-width: 1000px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
	display: flex;
	justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #436f44;
}

small {
    color: #888;
}

#infoDisplay {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #FFEFD5;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .gender-options {
    display: flex;
    align-items: center;
  }
  
  /* To add some spacing between the radio buttons and labels */
  .gender-options input[type="radio"] {
    margin-right: 5px;
  }
  
  /* Optional: Adjust the label spacing */
  .gender-options label {
    margin-right: 15px;
  }